body {
  margin: 0;
  font-family: 'NTR', -apple-system, BlinkMacSystemFont, Arial, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, .box{
  height: 100%;
}

html{
  font-size: 16px;
  color: #2B2B2B; 
}

h1, h2, h3, h4, p {
  font-family: 'NTR';
  text-align: center;
}

h1{
  font-size: 3rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.5rem; 
}

h3{
  color: rgb(180, 180, 180);
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem; 
}

@media (max-width: 748px){
  h1{
    font-size: 2rem;
  }
}

@media (max-width: 748px){
  h2, h3{
    font-size: 1rem; 
  }
}

html, body, .box{
  margin: 0; 
}

